---
layout: page
title: "About"
description: "Hey, this is Ethan.penx"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        {{site.description}}
    </blockquote>
    <li class="col" id="FMID_944208754FM"><div class="nodecontent">优质资源</div>
        <ul class="subexp">
    <li class="col" id="FMID_1668072232FM"><div class="nodecontent">书</div>
        <ul class="subexp">
    <li class="basic" id="FMID_67318882FM"><div class="nodecontent">多关注电子工业/图灵/机械工业/人民邮电等出版社，他们有专业团队来保障每年输出优质书籍</div></li>
    <li class="basic" id="FMID_1618336034FM"><div class="nodecontent">自己需要掌握鉴别好书的能力</div></li></ul></li>
    <li class="col" id="FMID_1170708824FM"><div class="nodecontent">站点</div>
        <ul class="subexp">
    <li class="basic" id="FMID_1560529546FM"><div class="nodecontent"><a href="http://zhuanlan.zhihu.com/Weekly">知乎周刊：http://zhuanlan.zhihu.com/Weekly</a> <a href="http://zhuanlan.zhihu.com/Weekly"></a></div></li>
    <li class="basic" id="FMID_1411509196FM"><div class="nodecontent"><a href="http://weekly.manong.io/">码农周刊：http://weekly.manong.io/</a> <a href="http://weekly.manong.io/"></a></div></li>
    <li class="basic" id="FMID_952571271FM"><div class="nodecontent"><a href="http://pycoders.com/archive/">Pycoder's Weekly：http://pycoders.com/archive/</a> <a href="http://pycoders.com/archive/"></a></div></li>
    <li class="basic" id="FMID_1524847256FM"><div class="nodecontent"><a href="https://news.ycombinator.com/">Hacker News：https://news.ycombinator.com/</a> <a href="https://news.ycombinator.com/"></a></div></li>
    <li class="basic" id="FMID_563848945FM"><div class="nodecontent"><a href="http://news.dbanotes.net/">Startup News：http://news.dbanotes.net/</a> <a href="http://news.dbanotes.net/"></a></div></li>
    <li class="basic" id="FMID_1455384354FM"><div class="nodecontent"><a href="http://toutiao.io/">开发者头条：http://toutiao.io/</a> <a href="http://toutiao.io/"></a></div></li>
    <li class="basic" id="FMID_678498909FM"><div class="nodecontent"><a href="http://geek.csdn.net/">极客头条：http://geek.csdn.net/</a> <a href="http://geek.csdn.net/"></a></div></li>
    <li class="basic" id="FMID_1264944187FM"><div class="nodecontent"><a href="http://www.infoq.com/cn">InfoQ：http://www.infoq.com/cn</a> <a href="http://www.infoq.com/cn"></a></div></li>
    <li class="basic" id="FMID_254874317FM"><div class="nodecontent"><a href="http://stackoverflow.com/">Stack Overflow：http://stackoverflow.com/</a> <a href="http://stackoverflow.com/"></a></div></li>
    <li class="basic" id="FMID_11264889FM"><div class="nodecontent"><a href="https://github.com/">GitHub：https://github.com/</a> <a href="https://github.com/"></a></div></li>
    <li class="basic" id="FMID_1648180595FM"><div class="nodecontent"><a href="http://www.freebuf.com/">FreeBuf：http://www.freebuf.com/</a> <a href="http://www.freebuf.com/"></a></div></li>
    <li class="basic" id="FMID_236031405FM"><div class="nodecontent"><a href="http://drops.wooyun.org/">WooYun：http://drops.wooyun.org/</a> <a href="http://drops.wooyun.org/"></a></div></li>
    <li class="basic" id="FMID_592864568FM"><div class="nodecontent"><a href="http://bluereader.org/">深蓝阅读：http://bluereader.org/</a> <a href="http://bluereader.org/"></a></div></li></ul></li>
    <li class="col" id="FMID_821959318FM"><div class="nodecontent">RSS订阅</div>
        <ul class="subexp">
    <li class="col" id="FMID_514594876FM"><div class="nodecontent">漏洞相关</div>
        <ul class="subexp">
    <li class="basic" id="FMID_1507091513FM"><div class="nodecontent"><a href="http://seebug.org/rss.xml ">http://seebug.org/rss.xml</a> <a href="http://seebug.org/rss.xml "></a></div></li>
    <li class="basic" id="FMID_1039020164FM"><div class="nodecontent"><a href="https://www.exploit-db.com/rss.xml ">https://www.exploit-db.com/rss.xml</a> <a href="https://www.exploit-db.com/rss.xml "></a></div></li>
    <li class="basic" id="FMID_1288792092FM"><div class="nodecontent"><a href="https://rss.packetstormsecurity.com ">https://rss.packetstormsecurity.com</a> <a href="https://rss.packetstormsecurity.com "></a></div></li>
    <li class="basic" id="FMID_829431299FM"><div class="nodecontent"><a href="http://www.wooyun.org/feeds/public ">http://www.wooyun.org/feeds/public</a> <a href="http://www.wooyun.org/feeds/public "></a></div></li></ul></li>
    <li class="col" id="FMID_1734259109FM"><div class="nodecontent">强烈推荐圈内人打造的深蓝阅读</div>
        <ul class="subexp">
    <li class="basic" id="FMID_224192456FM"><div class="nodecontent"><a href="http://bluereader.org/">http://bluereader.org/</a> <a href="http://bluereader.org/"></a></div></li>
    <li class="basic" id="FMID_608037455FM"><div class="nodecontent">这上面已经很多黑客/技术类似的RSS资源了</div></li></ul></li></ul></li>
    <li class="col" id="FMID_408679105FM"><div class="nodecontent">威胁情报</div>
        <ul class="subexp">
    <li class="basic" id="FMID_793394786FM"><div class="nodecontent">本来不想提任何这方面的，想想还是抖个资源，如下</div></li>
    <li class="basic" id="FMID_1842355563FM"><div class="nodecontent"><a href="https://github.com/kbandla/APTnotes ">https://github.com/kbandla/APTnotes</a> <a href="https://github.com/kbandla/APTnotes "></a></div></li></ul></li>
    <li class="col" id="FMID_575955218FM"><div class="nodecontent">安全平台</div>
        <ul class="subexp">
    <li class="col" id="FMID_1554574113FM"><div class="nodecontent">在线学习平台</div>
        <ul class="subexp">
    <li class="basic" id="FMID_1977776821FM"><div class="nodecontent"><a href="http://www.ichunqiu.com">i春秋：http://www.ichunqiu.com</a> <a href="http://www.ichunqiu.com"></a></div></li>
    <li class="basic" id="FMID_626979305FM"><div class="nodecontent"><a href="https://pentesterlab.com">https://pentesterlab.com</a> <a href="https://pentesterlab.com"></a></div></li></ul></li>
    <li class="col" id="FMID_972435194FM"><div class="nodecontent">PoC提交与学习</div>


    <p style="text-align:right;">
        —— <a href="http://blog.knownsec.com/Knownsec_RD_Checklist/index.html"> by @知道创宇(www.knownsec.com) @余弦 & 404团队 </a>
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>
    <h3>Britain Votes For Brexit</h3>
    <p>The U.K. has voted to leave the European Union by a 52 percent to 48 percent margin, the BBC and others predict.</p>

    <p>—In a historic vote, the United Kingdom has voted to leave the European Union by a 52-percent-to-48-percent margin, according to forecasts from the BBC, ITV, and others.</p>

    <p>—The stunning move raises major questions not only about how the U.K. will extricate itself from the 28-member bloc and the relationship it will have with it, but also about the future of British Prime Minister David Cameron’s government, of the country itself, and of the EU, post-World War II Europe's most ambitious political experiment.</p>

    <p>—Polls were tight ahead of Thursday's referendum, but as the votes rolled in, the "leave" side performed better than expected in places it was supposed to win and triumphed in locations it was not. The "remain" side, despite the establishment's optimism, could never catch up.</p>

    <p>—The pound slid to a 31-year low against the dollar on the news, and stock futures are sharply lower. Traders were expecting a bloodbath when European markets open.</p>

    <p>—We live blogged the events as they happened, and you can read how it all unfolded below. All updates are in Eastern Standard Time (GMT -5).</p>



    <p style="text-align:right;">
    -- <a href="http://www.theatlantic.com/news/archive/2016/06/brexit-results/488561/">The Atlantic</a>
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
